<div class="search">
  <input
    id="input"
    placeholder="Search"
    [ngModel]="search$ | async"
    (input)="handleSearch($event.target.value)"
  />
  <button id="button">🔍</button>
</div>
<div class="filter">
  <button mat-icon-button (click)="toggleVisibility()">
    <mat-icon>{{ icon }}</mat-icon>
  </button>
</div>
<div class="icon-parent-container" *ngIf="isExtended()">
  <div class="inner" *ngFor="let item of categoryService.getCategories()">
    <button
      *ngIf="item | ucfirst as upperItem"
      (click)="setFilter(upperItem)"
      title="{{ upperItem }}"
    >
      <img class="icon" src="{{ categoryService.getIconPath(item) }}" />
    </button>
  </div>
</div>
