p {
  padding-left: 0.5rem;
  padding-right: 0.5rem;

}


.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  button:nth-of-type(1) {
    margin-right: 0.5rem;

  }
}
